[submodule "chronos-forecasting"]
	path = chronos-forecasting
	url = https://github.com/AfrinDange/chronos.git
[submodule "uni2ts"]
	path = uni2ts
	url = https://github.com/AfrinDange/moirai.git
[submodule "timesfm"]
	path = timesfm
	url = https://github.com/AfrinDange/timesfm.git
